@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
    padding: 40px;
    background-color: rgb(173, 172, 172);
    gap: 25px;
    border-radius: 10px;
    flex-wrap: wrap;
    width: 100%; 
    margin-top: 40px;


ul {
    list-style: none;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

section {
    @include card;
    flex: 1;
    min-width: 250px;
}

.informacion-legal {
    flex: 100%;
    display: flex;
    justify-content: center;
}

h3 {
    margin-bottom: 15px;

}

img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}

}

