@use '../utilities/variables'  as *;

/* _ _ Footer _ _ */

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: $footer-fondo;
    gap: 25px;
    border-radius: 10px;
    flex-wrap: wrap; 
}

footer section {
    max-width: 300px;
    flex: 1 1 200px; 
}

footer h3 {
    margin-bottom: 15px;

}

footer img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
