@use '../utilities/variables' as *;
@use '../utilities/mixins' as *;

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: rgb(173, 172, 172);
    gap: 25px;
    border-radius: 10px;
    flex-wrap: wrap; 
        
}

footer section {
    @include card;
}

footer h3 {
    margin-bottom: 15px;

}

footer img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}
