@use '../utilities/variables' as *;


header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

header img{
    width: 150px;
    height: 150px;;
    margin: 10px; 
    }

header h1{
    background-color: rgb(169, 102, 102);
    color: white;
    border-radius: 5px;
}

.fondo-nav .nav-link {
    background-color:$color-fondo;
    color: white;
    border-radius: 5px;
    padding: 0.5px 0.5px;
    margin: 01px;

}

.fondo-nav a:hover{
    background-color: rgb(8, 1, 7);
    color: rgb(7, 220, 244);
}

.fondo-nav a:active{
    box-shadow: 1px 1px 2px black;
}

div iframe {
    border-radius: 10px;
}