/* _ _ Header  _ _ */
header{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 10px;
}

header img{
    width: 150px;
    height: 150px;;
    margin: 10,11px;
}




.fondo-nav .nav-link {
    background-color: rgb(169, 102, 102);
    border-radius: 5px;
    padding: 0.5px 0.5px;
    margin: 01px;

}

.fondo-nav a:hover{
    background-color: aqua;
    color: red;
}

.fondo-nav a:active{
    box-shadow: 1px 1px 2px black;
}

div iframe {
    border-radius: 10px;
}





/* _ _ Main _ _ */

h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

h2{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

p{
    font-family: 'Times New Roman', Times, serif;
}



.escritorio{
    background-image: url(../images/Escritorio.jpg);
    color: rgb(255, 255, 255);
    border-radius: 10px;
}

.quienes-somos {
    display: flex;
    align-items: center;
    color: brown;
    margin: 20px;
    gap: 20px;
    padding-top: 20px;
}

@media (max-width: 768px) {
    .quienes-somos {
        flex-direction: column;
        text-align: center;
        margin: 15px;
        gap: 15px;
    }
}
@media (max-width: 480px) {
    .quienes-somos {
        margin: 10px;
        padding: 15px;
    }
}

.quienes-somos h2{
    background-color: rgb(169, 102, 102);
    color: white;
    border-radius: 5px;
}




.quienes-somos img{

    border-radius: 10px;
    max-width: 390px;
}

.nuestro-equipo {
    display: flex;
    background-size: cover;
    background-position: center;
    border-radius: 10px;
    color: brown;
    text-align: end;
    flex-direction: row-reverse;
    justify-content: flex-end;
    align-items: center;
    margin: 20px;
    gap: 20px;
    padding: 20px;
}

@media (max-width: 768px) {
    .nuestro-equipo {
        flex-direction: column;
        text-align: center;
        margin: 15px;
        gap: 15px;
    }
}

@media (max-width: 480px) {
    .nuestro-equipo {
        margin: 10px;
        padding: 15px;
    }
}

.nuestro-equipo img{

    border-radius: 10px;
    max-width: 390px;
}

.nuestro-equipo h3{
        background-color: rgb(169, 102, 102);
        color: white;
        border-radius: 5px;

}

.titulo h3{
    background-color: rgb(169, 102, 102);
    color: white;
    border-radius: 5px;

}

form fieldset {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

main ul{
    list-style: none;
}
main a {
    text-decoration: none;
    color: gray;
}

.contactenos{
    background-image: url(../images/ventana.jpg);
    color: white;
    border-radius: 10px;
    margin: 20px;

}

.formulario{
    background-color: rgb(147, 65, 65);
    color: white;
    margin: 10px;
    border-radius: 10px;
}

.carousel {
    max-width: 1100px;
    margin: 60px auto;
}

.carousel-inner {
    border-radius: 10px;
    overflow: hidden;
}

.carousel-item img {
    height: 480px;  
    object-fit: cover; 
}

.carousel-caption h5 {
    font-size: 1.6rem;
    font-weight: 600;
    color: white;
    margin-bottom: 10px;
}

.carousel-caption p {
    font-size: 0.95rem;
    line-height: 1.6;
    color: #eaeaea;
}

.grid-noticias {
    display: grid;
    grid-template-columns: repeat(2, 1fr); 
    gap: 30px;
    margin: 40px;
}

.grid-noticias div {
    padding: 20px;
    background-color: rgb(169, 102, 102);
    color: azure;
    border-radius: 10px;
}

.noticias h2{
    background-color: rgb(169, 102, 102);
    color: azure;
    border-radius: 5px;
}

.noticias h3{
    background-color: rgb(169, 102, 102);
    color: azure;
    border-radius: 5px;
}




/* _ _ Footer _ _ */

footer ul {
    list-style: none;
}

footer a {
    text-decoration: none;
    color: inherit;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 40px;
    background-color: rgb(173, 172, 172);
    gap: 25px;
    border-radius: 10px;
    flex-wrap: wrap; 
}

footer section {
    max-width: 300px;
    flex: 1 1 200px; 
}

footer h3 {
    margin-bottom: 15px;

}

footer img {
    border-radius: 5px;
    max-width: 100%;
    height: auto;
}




