

.bart-lisa{
    animation-name: secuencia;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}


@keyframes secuencia{
    from {opacity: 0;}
    to{opacity: 1;}

}

.todos{
    animation-name: pibes;
    animation-duration: 8s;
    animation-iteration-count: infinite;
}


@keyframes pibes{
    from {
        filter: grayscale(1); 
        transition: scale 0,5;

    }
    to{filter: grayscale(0);
    transform: scale(1);
    }
}