
@mixin card($bg: #ffffff, $padding: 20px) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: $bg;
  color: #222;
  padding: $padding;
  border-radius: 12px;
  gap: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
}
