@use '../utilities/variables'  as *;

$color-fondo:rgb(169, 102, 102);
$footer-fondo:rgb(173, 172, 172);
$font-title: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;