@use '../utilities/variables'  as *;

.noticias h2{
    background-color:$color-fondo;
    color: azure;
    border-radius: 5px;
}

.noticias h3{
    background-color: $color-fondo;
    color: azure;
    border-radius: 5px;
}